/* 自定义scss样式变量 */
$myDisplay: flex; //设置为弹性布局
$myAlignCenter: center;//垂直方向上居中对齐
$mySpaceBetween: space-between;//水平方向上两端对齐
$fontSize:12px;//内容字体大小12px
$titleSize:16px;//标题大小16px
$borderRadius: 10px;
$lineHeight:center;//行高居中